<div id="chat">


    <uib-tabset type="pills">
        <uib-tab index="$index" heading="{{user.username}}" ng-repeat="user in cc.onlineUsers track by $index">
            {{user.username}}
            <form ng-submit="cc.sendPrivateMessage(user.username)">
                <input type="text" ng-model="cc.message" placeholder="message" class="messages"/>
                <button type="submit">Send</button>
            </form>
            <div ng-repeat="message in cc.msgList">{{message.text}}</div>
        </uib-tab>
    </uib-tabset>


</div>